 <h1>
  Actor #<%= @actor_info.id %> details
</h1>

<a href="/actors">
  Go back
</a>

<hr>

<dl>
  <dt>
    Name
  </dt>
  <dd>
    <%= @actor_info.name %>
  </dd>

  <dt>
    Dob
  </dt>
  <dd>
    <%= @actor_info.dob %>
  </dd>

  <dt>
    Bio
  </dt>
  <dd>
    <%= @actor_info.bio %>
  </dd>

  <dt>
    Image
  </dt>
  <dd>
    <img src="<%= @actor_info.image %>" style="width:250px;">
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= @actor_info.created_at %>
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= @actor_info.updated_at %>
  </dd>
</dl>

<hr>

<h2>Filmography</h2>

<table border="1">
  <tr>
    <th>
      Title
    </th>

    <th>
      Year
    </th>

    <th>
      Director
    </th>

    <th>
      Character name
    </th>

    <th>
    </th>
  </tr>

  <% @actor_char.all.each do |a_char| %>

    <tr>
      <td>
        <%= Movie.where({ :id => "#{a_char.movie_id}"}).at(0).title %>
      </td>

      <td>
        <%= Movie.where({ :id => "#{a_char.movie_id}"}).at(0).year %>
      </td>

      <td>
        <% @dir_id = Movie.where({ :id => "#{a_char.movie_id}"}).at(0).director_id %>
        <%= Director.where({ :id => "#{@dir_id}"}).at(0) %>
      </td>

      <td>
        <%= a_char.name %>
      </td>

      <td>
        <a href="/movies/<%= a_char.movie_id %>">
          Show details
        </a>
      </td>
    </tr>

  <% end %>

</table>
