<h1>
  Director #<%= @director_id %> details
</h1>

<a href="/directors">
  Go back
</a>

<hr>

<dl>
  <dt>
    Name
  </dt>
  <dd>
    <%= @director_info.name %>
  </dd>

  <dt>
    Dob
  </dt>
  <dd>
    <%= @director_info.dob %>
  </dd>

  <dt>
    Bio
  </dt>
  <dd>
    <%= @director_info.bio %>
  </dd>

  <dt>
    Image
  </dt>
  <dd>
    <img src="<%= @director_info.image %>" style="width:250px;">
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= @director_info.created_at %>
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= @director_info.updated_at %>
  </dd>
</dl>

<hr>

<h2>Filmography</h2>

<table border="1">
  <tr>
    <th>
      ID
    </th>

    <th>
      Image
    </th>

    <th>
      Title
    </th>

    <th>
      Year
    </th>

    <th>
      Director
    </th>

    <th>
    </th>
  </tr>

  <% @director_movies.all.each do |a_movie| %>

    <tr>
      <td>
        <%= a_movie.id %>
      </td>

      <td>
        <img src="<%= a_movie.image %>" style="width:250px;">
      </td>

      <td>
        <%= a_movie.title %>
      </td>

      <td>
        <%= a_movie.year %>
      </td>

      <td>
        <%= @director_info.name %>
      </td>

      <td>
        <a href="/movies/<%= a_movie.id %>">
          Show details
        </a>
      </td>
    </tr>

  <% end %>

</table>
